.phone-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 1.5em;
    font-weight: 900;
  }
}

.email-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 1.5em;
    font-weight: 900;
  }
}

.address-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 1.5em;
    font-weight: 900;
  }
}
